table {
    border-collapse: collapse;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin: 2% 0 2% 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    cursor: default;
}

table head tr {
    background: #0000;
    color: #FFF;
    text-transform: uppercase;
    text-align: left;
    padding: 2%;
}

table tbody td, table thead th { padding: 10px; }

table tbody td { border-bottom: 1px solid #ddd; }

table tbody tr:hover {
    background-color: yellow; cursor: crosshair;
}

.zebra { background: #EEE; }

a{
    background-color: gold;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
}